

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ☀️ Light Mode */
.theme-light .button-refresh1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(90, 96, 102, 0.05) !important; 
  /* text */                color: #44474B !important;
  /* border */              border: 1px solid #87FBE5; border-radius: 6px;}

.theme-light .button-refresh1:hover {
  /* background hover */    background-color: rgba(90, 96, 102, 0.55) !important; 
  /* text hover */          color: #44474B !important;
  /* border hover */        border: 1px solid #87FBE5; border-radius: 6px;}

/* 🌙 Dark Mode */
.theme-dark .button-refresh1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(100, 166, 61, 0.05) !important; 
  /* text */                color: #FFFC7A !important;
  /* border */              border: 0px dashed #A6A6A6; border-radius: 6px;}

.theme-dark .button-refresh1:hover {
  /* background */          background-color: rgba(100, 166, 61, 0.55) !important; 
  /* text */                color: #84E254 !important;
  /* border */              border: px dashed #84E254; border-radius: 6px;}






/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ☀️ Light Mode */  .theme-light .button-zotreimport1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(XXXXXXXXXXXX, 0.05) !important; 
  /* text */                color: #XXXXXXXXXXXX !important;
  /* border */              border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}

/* ☀️ Light Mode */  .theme-light .button-zotreimport1:hover {
  /* background hover */    background-color: rgba(XXXXXXXXXXXX, 0.55) !important; 
  /* text hover */          color: #XXXXXXXXXXXX !important;
  /* border hover */        border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}


/* 🌗🌙 Dark Mode */  .theme-dark .button-zotreimport1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(237, 104, 207, 0.25) !important; 
  /* text */                color: #FFCBF3 !important;
  /* border */              border: 1px solid #ed68cf; border-radius: 6px;}

/* 🌗🌙 Dark Mode */  .theme-dark .button-zotreimport1:hover {
  /* background hover */    background-color: rgba(237, 104, 207, 0.55) !important; 
  /* text hover */          color: #FFCBF3 !important;
  /* border hover */        border: 1px solid #ed68cf; border-radius: 6px;}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ☀️ Light Mode */
.theme-light .button-yaml1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family:  ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(63, 185, 209, 0.10) !important; 
  /* text */                color: #5BDBF4 !important;
  /* border */              border: 1px solid #1E5E71; border-radius: 6px;}

.theme-light .button-yaml1:hover {
  /* background */          background-color: rgba(63, 185, 209, 0.50) !important; 
  /* text */                color: #B6FDFF !important;
  /* border */              border: 1px solid #35B2D6; border-radius: 6px;}

/* 🌙 Dark Mode */
.theme-dark .button-yaml1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(63, 185, 209, 0.05) !important; 
  /* text */                color: #EED068 !important;
  /* border */              border: 0px solid #154754; border-radius: 6px;}

.theme-dark .button-yaml1:hover {
  /* background */          background-color: rgba(63, 185, 209, 0.50) !important; 
  /* text */                color: #B6FDFF !important;
  /* border */              border: 0px solid #35B2D6; border-radius: 6px;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ☀️ Light Mode */  .theme-light .button-literature-read1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(XXXXXXXXXXXX, 0.05) !important; 
  /* text */                color: #XXXXXXXXXXXX !important;
  /* border */              border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}

/* ☀️ Light Mode */  .theme-light .button-literature-read1:hover {
  /* background hover */    background-color: rgba(XXXXXXXXXXXX, 0.55) !important; 
  /* text hover */          color: #XXXXXXXXXXXX !important;
  /* border hover */        border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}


/* 🌗🌙 Dark Mode */  .theme-dark .button-literature-read1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(116, 170, 196, 0.05) !important; 
  /* text */                color: #74aac4 !important;
  /* border */              border: 1px solid #417087; border-radius: 6px;}

/* 🌗🌙 Dark Mode */  .theme-dark .button-literature-read1:hover {
  /* background hover */    background-color: rgba(122, 198, 235, 0.55) !important; 
  /* text hover */          color: #8cf9ff !important;
  /* border hover */        border: 1px solid #8cf9ff; border-radius: 6px;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ☀️ Light Mode */  .theme-light .button-literature-process1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(XXXXXXXXXXXX, 0.05) !important; 
  /* text */                color: #XXXXXXXXXXXX !important;
  /* border */              border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}

/* ☀️ Light Mode */  .theme-light .button-literature-process1:hover {
  /* background hover */    background-color: rgba(XXXXXXXXXXXX, 0.55) !important; 
  /* text hover */          color: #XXXXXXXXXXXX !important;
  /* border hover */        border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}


/* 🌗🌙 Dark Mode */  .theme-dark .button-literature-process1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(100, 184, 97, 0.05) !important; 
  /* text */                color: #64b861 !important;
  /* border */              border: 1px solid #2C512A; border-radius: 6px;}

/* 🌗🌙 Dark Mode */  .theme-dark .button-literature-process1:hover {
  /* background hover */    background-color: rgba(100, 184, 97, 0.55) !important; 
  /* text hover */          color: #80EC7C !important;
  /* border hover */        border: 1px solid #80EC7C; border-radius: 6px;}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* ☀️ Light Mode */
.theme-light .button-inline1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family:  ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(66, 135, 245, 0.05) !important; 
  /* text */                color: #97E1FB !important;
  /* border */              border: 1px solid #1D67A0; border-radius: 6px;}

.theme-light .button-inline1:hover {
  /* background */          background-color: rgba(0,132,254, 0.85) !important; 
  /* text */                color: #9FFAEC !important;
  /* border */              border: 1px solid #9FFAEC; border-radius: 6px;}

/* 🌙 Dark Mode */
.theme-dark .button-inline1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family:  ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(66, 135, 245, 0.05) !important; 
  /* text */                color: #DDEBF2 !important;
  /* border */              border: 0px solid #0F3856; border-radius: 6px;}

.theme-dark .button-inline1:hover {
  /* background */          background-color: rgba(0,132,254, 0.85) !important; 
  /* text */                color: #9FFAEC !important;
  /* border */              border: 0px solid #9FFAEC; border-radius: 6px;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ☀️ Light Mode */  .theme-light .button-transclusion1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(245, 194, 66, 0.05) !important; 
  /* text */                color: #f5c242 !important;
  /* border */              border: 1px solid #866B27; border-radius: 6px;}

/* ☀️ Light Mode */  .theme-dark .button-transclusion1:hover {
  /* background hover */    background-color: rgba(245, 194, 66, 0.55) !important; 
  /* text hover */          color: #fff3d4 !important;
  /* border hover */        border: 1px solid #fff3d4; border-radius: 6px;}


/* 🌗🌙 Dark Mode */  .theme-dark .button-transclusion1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(245, 194, 66, 0.05) !important; 
  /* text */                color: #f5c242 !important;
  /* border */              border: 1px solid #866B27; border-radius: 6px;}

/* 🌗🌙 Dark Mode */  .theme-dark .button-transclusion1:hover {
  /* background hover */    background-color: rgba(245, 194, 66, 0.55) !important; 
  /* text hover */          color: #fff3d4 !important;
  /* border hover */        border: 1px solid #fff3d4; border-radius: 6px;}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ☀️ Light Mode */
.theme-light .button-instant1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family:  ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(66, 135, 245, 0.25) !important; 
  /* text */                color: #97E1FB !important;
  /* border */              border: 1px solid #1D67A0; border-radius: 6px;}

.theme-light .button-instant1:hover {
  /* background */          background-color: rgba(0,132,254, 0.85) !important; 
  /* text */                color: #9FFAEC !important;
  /* border */              border: 1px solid #9FFAEC; border-radius: 6px;}

/* 🌙 Dark Mode */
.theme-dark .button-instant1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family:  ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(66, 135, 245, 0.25) !important; 
  /* text */                color: #97E1FB !important;
  /* border */              border: 1px solid #1D67A0; border-radius: 6px;}

.theme-dark .button-instant1:hover {
  /* background */          background-color: rgba(0,132,254, 0.85) !important; 
  /* text */                color: #9FFAEC !important;
  /* border */              border: 1px solid #9FFAEC; border-radius: 6px;}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ☀️ Light Mode */
.theme-light .button-detail1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family:  ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(63, 185, 209, 0.10) !important; 
  /* text */                color: #5dd1e8 !important;
  /* border */              border: 1px solid #1E5E71; border-radius: 6px;}

.theme-light .button-detail1:hover {
  /* background */          background-color: rgba(63, 185, 209, 0.50) !important; 
  /* text */                color: #B6FDFF !important;
  /* border */              border: 1px solid #35B2D6; border-radius: 6px;}

/* 🌙 Dark Mode */
.theme-dark .button-detail1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family:  ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(63, 185, 209, 0.10) !important; 
  /* text */                color: #5dd1e8 !important;
  /* border */              border: 1px solid #1E5E71; border-radius: 6px;}

.theme-dark .button-detail1:hover {
  /* background */          background-color: rgba(63, 185, 209, 0.50) !important; 
  /* text */                color: #B6FDFF !important;
  /* border */              border: 1px solid #35B2D6; border-radius: 6px;}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ☀️ Light Mode */
.theme-light .button-discrete1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family:  ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(63, 185, 209, 0.10) !important; 
  /* text */                color: #5BDBF4 !important;
  /* border */              border: 1px solid #1E5E71; border-radius: 6px;}

.theme-light .button-discrete1:hover {
  /* background */          background-color: rgba(63, 185, 209, 0.50) !important; 
  /* text */                color: #B6FDFF !important;
  /* border */              border: 1px solid #35B2D6; border-radius: 6px;}

/* 🌙 Dark Mode */
.theme-dark .button-discrete1 {
  
/* ☀️ Light Mode */  .theme-light .button-pink1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(XXXXXXXXXXXX, 0.05) !important; 
  /* text */                color: #XXXXXXXXXXXX !important;
  /* border */              border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}

/* ☀️ Light Mode */  .theme-light .button-pink1:hover {
  /* background hover */    background-color: rgba(XXXXXXXXXXXX, 0.55) !important; 
  /* text hover */          color: #XXXXXXXXXXXX !important;
  /* border hover */        border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}


/* 🌗🌙 Dark Mode */  .theme-dark .button-pink1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(194, 87, 172, 0.05) !important; 
  /* text */                color: #FF69E2 !important;
  /* border */              border: 1px solid #8D4074; border-radius: 6px;}

/* 🌗🌙 Dark Mode */  .theme-dark .button-pink1:hover {
  /* background hover */    background-color: rgba(194, 87, 172, 0.85) !important; 
  /* text hover */          color: #FFB3EC !important;
  /* border hover */        border: 1px solid #FFB3EC; border-radius: 6px;}


adding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(63, 185, 209, 0.05) !important; 
  /* text */                color: #6E8185 !important;
  /* border */              border: 0px solid #154754; border-radius: 6px;}

.theme-dark .button-discrete1:hover {
  /* background */          background-color: rgba(63, 185, 209, 0.50) !important; 
  /* text */                color: #B6FDFF !important;
  /* border */              border: 0px solid #35B2D6; border-radius: 6px;}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ☀️ Light Mode */  .theme-light .button-pink1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(XXXXXXXXXXXX, 0.05) !important; 
  /* text */                color: #XXXXXXXXXXXX !important;
  /* border */              border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}

/* ☀️ Light Mode */  .theme-light .button-pink1:hover {
  /* background hover */    background-color: rgba(XXXXXXXXXXXX, 0.55) !important; 
  /* text hover */          color: #XXXXXXXXXXXX !important;
  /* border hover */        border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}


/* 🌗🌙 Dark Mode */  .theme-dark .button-pink1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(194, 87, 172, 0.05) !important; 
  /* text */                color: #FF69E2 !important;
  /* border */              border: 1px solid #8D4074; border-radius: 6px;}

/* 🌗🌙 Dark Mode */  .theme-dark .button-pink1:hover {
  /* background hover */    background-color: rgba(194, 87, 172, 0.85) !important; 
  /* text hover */          color: #FFB3EC !important;
  /* border hover */        border: 1px solid #FFB3EC; border-radius: 6px;}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* ☀️ Light Mode */
.theme-light .button-select1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(86, 94, 168, 0.15) !important; 
  /* text */                color: #B6B7FF !important;
  /* border */              border: 1px solid #565ea8; border-radius: 6px;}

.theme-light .button-select1:hover {
  /* background hover */    background-color: rgba(86, 94, 168, 0.75) !important; 
  /* text hover */          color: #C1D6FF !important;
  /* border hover */        border: 1px solid #565ea8; border-radius: 6px;}

/* 🌙 Dark Mode */
.theme-dark .button-select1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(131, 87, 201, 0.15) !important; 
  /* text */                color: #BA99FF !important;
  /* border */              border: 1px solid #6444A9; border-radius: 6px;}

.theme-dark .button-select1:hover {
  /* background hover */    background-color: rgba(131, 87, 201, 0.55) !important; 
  /* text hover */          color: #EDE6FF !important;
  /* border hover */        border: 1px solid #B7A0FF; border-radius: 6px;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ☀️ Light Mode */
.theme-light .button-dashboard1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  background-color: rgba(255, 71, 151, 0.15) !important; /* background */
  color: #4C2624 !important;          /* text */
  border: 1px solid #FFC873; border-radius: 6px;
  transition: all 0.2s ease-in-out; 
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;}

.theme-light .button-dashboard1:hover {
  background-color: rgba(255, 182, 46, 0.75) !important; /* background */
  color: #FFF496 !important;
  border: 1px solid #FFF496; border-radius: 6px;  
  border-color: #FFF496;}

/* 🌙 Dark Mode */
.theme-dark .button-dashboard1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  background-color: rgba(255, 71, 151, 0.15) !important; /* background */
  color: #FFAFC8 !important;          /* text */
  border: 1px solid #9E4555; border-radius: 6px;
  transition: all 0.2s ease-in-out; 
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;}

.theme-dark .button-dashboard1:hover {
  background-color: rgba(199, 93, 150, 0.95) !important; /* background */
  color: #FECAEA !important;
  border: 1px solid #e66eae; border-radius: 6px;  
  border-color: #e66eae;}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ☀️ Light Mode */  .theme-light .button-action1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(XXXXXXXXXXXX, 0.05) !important; 
  /* text */                color: #XXXXXXXXXXXX !important;
  /* border */              border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}

/* ☀️ Light Mode */  .theme-light .button-action1:hover {
  /* background hover */    background-color: rgba(XXXXXXXXXXXX, 0.55) !important; 
  /* text hover */          color: #XXXXXXXXXXXX !important;
  /* border hover */        border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}


/* 🌗🌙 Dark Mode */  .theme-dark .button-action1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(181, 209, 67, 0.05) !important; 
  /* text */                color: #8395DC !important;
  /* border */              border: px solid #869451; border-radius: 6px;}

/* 🌗🌙 Dark Mode */  .theme-dark .button-action1:hover {
  /* background hover */    background-color: rgba(181, 209, 67, 0.55) !important; 
  /* text hover */          color: #e8ff8c !important;
  /* border hover */        border: px solid #e8ff8c; border-radius: 6px;}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ☀️ Light Mode */
.theme-light .button-lint1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  background-color: rgba(245, 207, 103, 0.35) !important; /* background */
  color: #754300 !important;          /* text */
  border: 1px solid #CBFF5D; border-radius: 6px;
  transition: all 0.2s ease-in-out; 
  font-family: ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;}

.theme-light .button-lint1:hover {
  background-color: rgba(245, 207, 103, 0.75) !important; /* background */
  color: #fff !important;
  border: 1px solid #CBFF5D; border-radius: 6px;  
  border-color: #CBFF5D;}

/* 🌙 Dark Mode */
.theme-dark .button-lint1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  background-color: rgba(245, 207, 103, 0.05) !important; /* background */
  color: #CBFF5D !important;          /* text */
  border: 1px solid #427872; border-radius: 6px;
  transition: all 0.2s ease-in-out; 
  font-family: ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;}

.theme-dark .button-lint1:hover {
  background-color: rgba(245, 207, 103, 0.75) !important; /* background */
  color: #ffffff !important;
  border: 1px solid #427872; border-radius: 6px;  
  border-color: #d4a82f;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ☀️ Light Mode */  .theme-light .button-task1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(XXXXXXXXXXXX, 0.05) !important; 
  /* text */                color: #XXXXXXXXXXXX !important;
  /* border */              border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}

/* ☀️ Light Mode */  .theme-light .button-task1:hover {
  /* background hover */    background-color: rgba(XXXXXXXXXXXX, 0.55) !important; 
  /* text hover */          color: #XXXXXXXXXXXX !important;
  /* border hover */        border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}


/* 🌗🌙 Dark Mode */  .theme-dark .button-task1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(147, 235, 103, 0.05) !important; 
  /* text */                color: #93eb67 !important;
  /* border */              border: 1px solid #6EAE50; border-radius: 6px;}

/* 🌗🌙 Dark Mode */  .theme-dark .button-task1:hover {
  /* background hover */    background-color: rgba(147, 235, 103, 0.55) !important; 
  /* text hover */          color: #daffc7 !important;
  /* border hover */        border: 1px solid #93eb67; border-radius: 6px;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ☀️ Light Mode */
.theme-light .button-tasknote1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  background-color: rgba(255, 235, 105, 0.75) !important; /* background */
  color: #131c26 !important;          /* text */
  border: 1px solid #dfe8b0; border-radius: 6px;
  transition: all 0.2s ease-in-out; 
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;}

.theme-light .button-tasknote1:hover {
  background-color: rgba(181, 209, 67, 0.75) !important; /* background */
  color: #0C0C09 !important;
  border: 1px solid #427872; border-radius: 6px;  
  border-color: #e8ff8c;}

/* 🌙 Dark Mode */
.theme-dark .button-tasknote1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  background-color: rgba(181, 209, 67, 0.05) !important; /* background */
  color: #90D43D !important;
  border: 1px solid #295611; border-radius: 6px;  
  transition: all 0.2s ease-in-out; 
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;}

.theme-dark .button-tasknote1:hover {
  background-color: rgba(181, 209, 67, 0.25) !important; /* background */
  color: #e8ff8c !important;
  border: 1px solid #427872; border-radius: 6px;  
  border-color: #e8ff8c;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ☀️ Light Mode */  .theme-light .button-periodical1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(XXXXXXXXXXXX, 0.05) !important; 
  /* text */                color: #XXXXXXXXXXXX !important;
  /* border */              border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}

/* ☀️ Light Mode */  .theme-light .button-periodical1:hover {
  /* background hover */    background-color: rgba(XXXXXXXXXXXX, 0.55) !important; 
  /* text hover */          color: #XXXXXXXXXXXX !important;
  /* border hover */        border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}


/* 🌗🌙 Dark Mode */  .theme-dark .button-periodical1 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(217, 121, 252, 0.15) !important; 
  /* text */                color: #F0C7FF !important;
  /* border */              border: 1px solid #967D9F; border-radius: 6px;}

/* 🌗🌙 Dark Mode */  .theme-dark .button-periodical1:hover {
  /* background hover */    background-color: rgba(217, 121, 252, 0.55) !important; 
  /* text hover */          color: #f0c7ff !important;
  /* border hover */        border: 1px solid #f0c7ff; border-radius: 6px;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ☀️ Light Mode */
.theme-light .button-instant2 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family:  ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(66, 135, 245, 0.05) !important; 
  /* text */                color: #97E1FB !important;
  /* border */              border: 1px solid #1D67A0; border-radius: 6px;}

.theme-light .button-instant2:hover {
  /* background */          background-color: rgba(0,132,254, 0.85) !important; 
  /* text */                color: #9FFAEC !important;
  /* border */              border: 1px solid #9FFAEC; border-radius: 6px;}

/* 🌙 Dark Mode */
.theme-dark .button-instant2 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family:  ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(66, 135, 245, 0.05) !important; 
  /* text */                color: #49C4F1 !important;
  /* border */              border: 0px solid #0F3856; border-radius: 6px;}

.theme-dark .button-instant2:hover {
  /* background */          background-color: rgba(0,132,254, 0.85) !important; 
  /* text */                color: #9FFAEC !important;
  /* border */              border: 0px solid #9FFAEC; border-radius: 6px;}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



/* ☀️ Light Mode */
.theme-light .button-detail2 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family:  ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(63, 185, 209, 0.10) !important; 
  /* text */                color: #5BDBF4 !important;
  /* border */              border: 1px solid #1E5E71; border-radius: 6px;}

.theme-light .button-detail2:hover {
  /* background */          background-color: rgba(63, 185, 209, 0.50) !important; 
  /* text */                color: #B6FDFF !important;
  /* border */              border: 1px solid #35B2D6; border-radius: 6px;}

/* 🌙 Dark Mode */
.theme-dark .button-detail2 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family:  ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(63, 185, 209, 0.05) !important; 
  /* text */                color: #6E8185 !important;
  /* border */              border: 0px solid #154754; border-radius: 6px;}

.theme-dark .button-detail2:hover {
  /* background */          background-color: rgba(63, 185, 209, 0.50) !important; 
  /* text */                color: #B6FDFF !important;
  /* border */              border: 0px solid #35B2D6; border-radius: 6px;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ☀️ Light Mode */  .theme-light .button-tasknote2 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: "Roboto Mono", "Courier New", monospace;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(XXXXXXXXXXXX, 0.05) !important; 
  /* text */                color: #XXXXXXXXXXXX !important;
  /* border */              border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}

/* ☀️ Light Mode */  .theme-light .button-tasknote2:hover {
  /* background hover */    background-color: rgba(XXXXXXXXXXXX, 0.55) !important; 
  /* text hover */          color: #XXXXXXXXXXXX !important;
  /* border hover */        border: 1px solid #XXXXXXXXXXXX; border-radius: 6px;}


/* 🌗🌙 Dark Mode */  .theme-dark .button-tasknote2 {
  padding: 6px 5px;
  font-weight: 400; 
  font-size: 12px; 
  letter-spacing: 0.4px;
  transition: all 0.2s ease-in-out; 
  font-family: ;
  text-transform: ; 
  text-align: center; 
  text-align: center; 
  cursor: pointer;
  /* background */          background-color: rgba(184, 222, 135, 0.15) !important; 
  /* text */                color: #9FE641 !important;
  /* border */              border: 1px solid #95B46D; border-radius: 6px;}

/* 🌗🌙 Dark Mode */  .theme-dark .button-tasknote2:hover {
  /* background hover */    background-color: rgba(184, 222, 135, 0.45) !important; 
  /* text hover */          color: #99FF13 !important;
  /* border hover */        border: 1px solid #b8de87; border-radius: 6px;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
